ScoreUpdate {
  height: 35;
  width: 25%;
  content-align: center middle;
  color: white;
  background: crimson;
}

#topics {
  background: purple;
}
#nfl {
  background: purple;
}

Horizontal {
  height: auto;
  background: black;
  content-align: center middle;
}

TextLog {
    height: 20;
}

Proxy{
  content-align: center middle;
}
