ScoreUpdate {
  height: 35;
  width: 30%;
  content-align: center middle;
  color: white;
}

#nba {
  background: olive;
}

#nfl {
  background: crimson;
}

#mbl {
  background: lavender;
}

Horizontal {
  height: auto;
  background: green;
  content-align: center middle;
}

MyTextLog {
    height: auto;
}

Proxy{
    background: purple;
}
